
@{
	ViewBag.Title = "updateMon";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">CẬP NHẬT MÓN ĂN TẠI ĐÂY</h4>
					</div>
					<div class="card-body all-icons">
						<div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
							<div class="font-icon-detail">
								<i class="nc-icon nc-layers-3"></i>
								<a href="#" onclick="window.open('/Admin/showMC', '_self')">MÓN CHÍNH</a>
							</div>
						</div>
					</div>
					<div class="card-body all-icons">
						<div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
							<div class="font-icon-detail">
								<i class="nc-icon nc-layers-3"></i>
								<a href="#" onclick="window.open('/Admin/showKV', '_self')">MÓN KHAI VỊ</a>
							</div>
						</div>
					</div>
					<div class="card-body all-icons">
						<div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
							<div class="font-icon-detail">
								<i class="nc-icon nc-layers-3"></i>
								<a href="#" onclick="window.open('/Admin/showMP', '_self')">MÓN PHỤ</a>
							</div>
						</div>
					</div>
					<div class="card-body all-icons">
						<div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
							<div class="font-icon-detail">
								<i class="nc-icon nc-layers-3"></i>
								<a href="#" onclick="window.open('/Admin/showMS', '_self')">MÓN SÚP</a>
							</div>
						</div>
					</div>
					<div class="card-body all-icons">
						<div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
							<div class="font-icon-detail">
								<i class="nc-icon nc-layers-3"></i>
								<a href="#" onclick="window.open('/Admin/showMN', '_self')">MÓN NƯỚC</a>
							</div>
						</div>
					</div>
					<div class="card-body all-icons">
						<div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
							<div class="font-icon-detail">
								<i class="nc-icon nc-layers-3"></i>
								<a href="#" onclick="window.open('/Admin/showTM', '_self')">TRÁNG MIỆNG</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


