@model DatTiec.MONCHINH

@{
    ViewBag.Title = "XoaMC";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card strpied-tabled-with-hover">
					<div class="card-header ">
						<h4 class="card-title">XÓA MÓN CHÍNH</h4>

					</div>
					<div>
						
						<hr />
						<dl class="dl-horizontal">
							<dt>
								Tên Món 
							</dt>

							<dd>
								@Html.DisplayFor(model => model.TENMON)
							</dd>

							<dt>
								Giá cả
							</dt>

							<dd>
								@Html.DisplayFor(model => model.GIA)
							</dd>

						</dl>

						@using (Html.BeginForm())
						{
							@Html.AntiForgeryToken()

							<div class="form-actions no-color">
								<input type="submit" value="Xóa" class="btn btn-default" /> |
								@Html.ActionLink("Trở về", "showMC")
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

